.coverImage {
      /* height: 100vh; */
        /* min-height: 100vh; */
    width: 100%;
    height: 100vh;
    /* background-image: url("../public/jumbotron_img.png"); */
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(3, 3, 3, 0.3)), url("../public/jumbotron_img.png");
    background-size: cover;
    margin-top: -90px;
}